* {
    box-sizing: border-box;
}

body {
    color: #fff;
    height: 100vh;
    margin: 0;
    /*    overflow: hidden;*/
    padding: 0;
    text-shadow: 2px 3px 10px #2e2e2e;
    width: 100%;
}

.bg_container {
    background: url("https://images.pexels.com/photos/29724/pexels-photo-29724.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="20" /></filter></svg>#filter');
    -webkit-filter: blur(20px);
    filter: blur(20px);
    height: 100vh;
    webkit-filter: blur(20px);
    width: 100%;
    z-index: 1;
}

.bg_container1 {
    background: url("https://images.pexels.com/photos/29724/pexels-photo-29724.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container2 {
    background: url("https://images.pexels.com/photos/206926/pexels-photo-206926.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container3 {
    background: url("https://images.pexels.com/photos/404966/pexels-photo-404966.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container4 {
    background: url("http://img06.deviantart.net/f330/i/2015/068/6/0/broken_clouds_1__by_terraluna5-d8l479n.jpg");
}

.bg_container5 {
    background: url("https://images.pexels.com/photos/404984/pexels-photo-404984.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container6 {
    background: url("https://images.pexels.com/photos/110874/pexels-photo-110874.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container7 {
    background: url("https://images.pexels.com/photos/29095/pexels-photo-29095.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container8 {
    background: url("https://images.pexels.com/photos/4022/cold-snow-forest-trees.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.bg_container9 {
    background: url("https://images.pexels.com/photos/104907/pexels-photo-104907.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

.container {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.content {
    background: #4CA1AF;
    background: -webkit-linear-gradient(right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to left, #C4E0E5, #4CA1AF);
    background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);
    border-radius: 10px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    left: 50%;
    min-height: 480px;
    min-width: 600px;
    moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.head {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #868282;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.city {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
}

.time {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.weather {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 25px;
}

.temp {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    margin: 0;
    white-space: nowrap;
}

.icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 130px;
    text-align: center;
}

.weather_list,
.pollution_list {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.weather_list li,
.pollution_list li {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-size: 2em;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px 0;
    width: 33%;
}
.pollution_list li {
    width: 50%;
}

.weather_list li span {
    margin-right: 5px;
}

.grey_l {
    color: #868282;
    font-size: 15px;
}


.pollution_list li:first-child {
    border-radius: 5px;
    width: 100%;
}

.pollution_list p {
    margin: 0;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 80%;
    -webkit-transition: opacity 500;
    transition: opacity 500;
    visibility: hidden;
    width: 120px;
    z-index: 1;
}

.tooltip .tooltiptext:after {
    border-color: transparent transparent #555 transparent;
    border-style: solid;
    border-width: 5px;
    bottom: 100%;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}


/* ====RWD====*/

@media(max-width: 600px) {
    .wi {
        display: block;
    }
    .content {
        height: 95%;
        min-height: 100px;
        min-width: 320px;
        width: 95%;
    }
    .city,
    .time {
        margin: 5px;
        font-size: 5vw;
    }
/*
    .pollution_list li {
            display: block;
    }
*/
    .weather h2,
    .weather .wi {
        font-size: 20vw;
    }

    pollution_list li {
        padding: 5px;
    }
    .pollution_list li:first-child {
        padding: 4px;
    }
    
    .pollution_list li:first-child p,
    .pollution_list li:first-child span {
        font-size: 6vw;
 
    }
}
